h1{
   color: red;
   border: 1px solid black;
    padding: 10px;
    margin: 10px;
    text-align: center;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(255, 255, 255);

}

img{
    width: 60%;
    height: 50%;
    border: 1px solid red;
    padding: 30px;
    margin: 30px;
    text-align: center;
    background-color: blueviolet;
}